<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <a href="index.html"><img class="logo_icon img-responsive" src="~/pluto/images/logo/logo_icon.png" alt="#" /></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="~/pluto/images/layout_img/user_img.jpg" alt="#" /></div>
                <div class="user_info">
                    <h6>Fatih ATMACA</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="/Admin/Dashboard/Index/"  aria-expanded="false"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                
            </li>
            <li><a href="/Admin/Ads/Index/"><i class="fa fa-clock-o orange_color"></i> <span>İlan Listesi</span></a></li>
            <li>
                <a href="/Admin/Agent/Index/"  aria-expanded="false"><i class="fa fa-diamond purple_color"></i> <span>Emlakçılar</span></a>
                
            </li>
            <li><a href="/Admin/Category/Index/"><i class="fa fa-table purple_color2"></i> <span>Kategoriler</span></a></li>
            <li>
                <a href="/Admin/Location/Index/"  aria-expanded="false"><i class="fa fa-object-group blue2_color"></i> <span>Lokasyonlar</span></a>
                
            </li>
            <li><a href="/Admin/Slider/Index/"><i class="fa fa-briefcase blue1_color"></i> <span>Slider</span></a></li>
            <li>
                <a href="/Admin/Tag/Index/">
                    <i class="fa fa-paper-plane red_color"></i> <span>Etiketler</span>
                </a>
            </li>
            <li class="active">
                <a href="/Admin/Testimonial/Index/"  aria-expanded="false"><i class="fa fa-clone yellow_color"></i> <span>Referanslar</span></a>
            </li>
            <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
        </ul>
    </div>
</nav>