
<footer class="ftco-footer ftco-bg-dark ftco-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Royalestate</h2>
					<p>En yenilikçi emlak anlayışı ile doğayı ayağınıza getiriyoruz. Takipte Kalın..</p>
					<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4 ml-md-5">
					<h2 class="ftco-heading-2">Satın Al/Kirala</h2>
					<ul class="list-unstyled">
						<li><a href="#" class="py-2 d-block">Satılık Evler</a></li>
						<li><a href="#" class="py-2 d-block">Kiralık Evler</a></li>
						<li><a href="#" class="py-2 d-block">Son Eklenenler</a></li>
						<li><a href="#" class="py-2 d-block">En Büyükler m2</a></li>
						<li><a href="#" class="py-2 d-block">En Küçükler m2</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Sat/Değerle</h2>
					<ul class="list-unstyled">
						<li><a href="#" class="py-2 d-block">Evinizi Satın</a></li>
						<li><a href="#" class="py-2 d-block">En İyi Değerleme</a></li>
						<li><a href="#" class="py-2 d-block">Bölgesel Değerleme</a></li>
						<li><a href="#" class="py-2 d-block">Şartlar &amp; Koşullar</a></li>
						<li><a href="#" class="py-2 d-block">Diğer</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Danışmak İçin</h2>
					<div class="block-23 mb-3">
						<ul>
							<li><span class="icon icon-map-marker"></span><span class="text">Çınarlı Mah. 612 Sok. Bandırma/BALIKESİR</span></li>
							<li><a href="#"><span class="icon icon-phone"></span><span class="text">0500 400 1234</span></a></li>
							<li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@gmail.com</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</footer>
